.logoButton {
    width: 200px;
    border: 1px solid blue;
    border-radius: 20px;
    margin-left: 20px;
}

.navbarRight {
    float: right;
    margin-right: 50px;
}

#home {
    color: blue;
}

#registerButton {
    background-color: #3563E9;
    color: white;
    border: 2px solid black;
}

.threeFeatures {
    text-align: center;
}

.icons {
    display: inline-block;
    padding: 20px;
    border-radius: 50%;
    background-color: #EFF3FD;
}

.reviewDog {
    width: 450px;
    height: 300px;
    margin: auto;
}

.reviewDog img {
    border-radius: 50%;
}

.reviewLabel {
    padding-top: 150px;
    
    
}

.btnPN {
    background-color: #F5F5F5;
    color: black;
}

.sponsors {
    text-align: center;
    padding-top: 50px;
}
.sponsors h1 {
    font-size: 5rem;
    font-weight: bold;
}

.sponsorsImages img {
    width: 300px;

}

.sponsorsImages > .forthImage {
    padding-left: 30px;
}

.footerUpper {
    padding-bottom: 30px;
}

.footerLower {
    padding-top: 30px;
}

.socialIcons {
    float: right;
}

.ulBlock {
    
    display: inline-block;
    position: relative;
    top: 50%;
    left: 25%;
}

@media screen and (max-width: 800px) {
    .footerLower img {
        width: 50%;
        margin: auto;
        display: block;
        margin-bottom: 20px;
    }

    
    .ulBlock {
        width: 100%;
        position: relative;
        left: 0%;
    }

    .socialIcons {
        width: 100%;
        margin: auto;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}